 <mat-toolbar>
  <mat-toolbar-row>
    <span class="title">{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
 
 <!--<div class="login-animation">
    <hello></hello>
 </div>-->

<div style="text-align:center;" class="center-div">
  <div id="login">
      <a mat-raised-button color="primary"routerLink='/dashboard'>Login with Active Directory</a>    
  </div>

  <div id="admin">
    <a mat-button routerLink='/admin-dashboard'>Admin Login</a>   
  </div>
</div>

<!--<router-outlet></router-outlet>-->