<app-nav-bar></app-nav-bar>

<div class="page-div center">
  <mat-card class="center">
    <mat-card-header>
      <mat-card-title>Welcome to the 360 Degree Agile Feedback Portal!</mat-card-title>
      <mat-card-subtitle>
        Personal improvements happen when there is timely feedback supported by appropriate coaching. Agile teams run retrospectives to discuss what processes worked well and what needs to be imporved every sprint. This portal is part of a pilot project to merge employee feedback withevery other retrospective to provide meaningful feedback to each and every team member (fullyime and contract) from their teammates.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
</div>